{% extends 'base.html.twig' %}

{% block body %}
	<div class="container text-center">
		<h3 class="mb-5" style="color:blue">QUI SOMMES-NOUS ?</h3>
		<div>
			<div>
				<p>Au milieu d’un espace boisé de 10 000 m2, les chiens sont hébergés dans 60 Boxes individuels
									et dans 8 grands parcs de communautés avec leurs dortoirs,
									les chats vivent dans la chatterie comprenant des jardins clôturés.
									La S.P.A. de Saintes recueille les animaux errants ou abandonnés
									en accord avec 350 communes du Département.
									En 2006 le Refuge du Bois Rulaud a accueilli 1586 animaux.
									14 Salariés travaillent au Refuge aidés par une quarantaine de bénévoles.
									Un service de gardiennage pour chiens et chats fonctionne toute l’année.
									Ouvert au public chaque jour de 14 H à 18H le Refuge propose en permanence
									200 chiens et 100 chats à l’adoption.
									Une formule de parrainage est proposée pour prendre en charge un animal non adoptable.
					<a style="color:blue" href="{{ path("accueil") }}">(Pour choisir votre filleul, voir en page d'accueil).</a>
				</p>
				<h4 class="mb-4" style="color:blue">OU NOUS TROUVER ?</h4>
								<p>S.P.A. de Saintes, Route de Varzay - 17100 SAINTES</p>
				<div class="text-center localization">
					<iframe class="w-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11141.907384743867!2d-0.6899307569412884!3d45.72153109631565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480102ca79ec5a17%3A0xb8c0c1f3df61905c!2sSoci%C3%A9t%C3%A9%20Protectrice%20des%20Animaux%20SPA!5e0!3m2!1sfr!2sfr!4v1627029929029!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			<p>Informations complémentaires : </p>
				<p>Téléphone: 05 46 93 47 65</p>
			</div>

			<p>La S.P.A. de Saintes est une Association loi 1901.</p>
			<p>Situé à 3 km de Saintes  le BOIS RULAUD est son Refuge.</p>
			<p>Celui ci appartient à la Communauté de Communes de Saintes.</p>
			<br>

			<br>
			<h5>Les visiteurs du Refuge sont toujours les bienvenus.</h5>

		</div>


	</div>
{% endblock %}
