{% extends 'base.html.twig' %}

{% block title %}Edit Adopter{% endblock %}

{% block body %}
    <h1>Edit Adopter</h1>

    {{ include('adopter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adopter') }}">back to list</a>

    {{ include('adopter/_delete_form.html.twig') }}
{% endblock %}
