{% extends 'base.html.twig' %}

{% block title %}New Adopter{% endblock %}

{% block body %}
    <h1>Create new Adopter</h1>

    {{ include('adopter/_form.html.twig') }}

    <a href="{{ path('adopter') }}">back to list</a>
{% endblock %}
