{% extends 'base.html.twig' %}
{% block body %}

	<div class="container">
		<div class="spa-questions text-center">
			<h3>Questions - Réponses</h3>
			<h3>La SPA de Saintes en 7 questions</h3>
		</div>
		<br>
		<h5>Pour afficher les réponses du refuge, appuyez sur le chapeau en fin de ligne.</h5>
	</div>

	<div class="container-fluid">
		<div class="accordion text-center m-auto mb-4" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Combien d'animaux vivent dans notre refuge ? Pourquoi vos chiens sont-ils installés soit dans des parcs, soit dans des boxs ? Ceux qui sont en communauté ne se battent-ils pas entre eux ? Et les chats ?</p>
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Il y a en permanence environ 250 chiens et 130 Chats au Bois Rulaud. Notre refuge dispose de 6 grands parcs naturels comportant chacun une maison dortoir commune, et de 60 boxs individuels équipés de niches. Il est clair que nous ne faisons pas n‘importe quoi, et que les chiens qui sont en communauté sont sélectionnés soigneusement afin qu’ils s’entendent entre eux. Par exemple nous avons un parc pour les timides, un parc pour les femelles pendant leurs chaleurs, un parc pour les chiens âgés , un parc d’adaptation ,etc. Dans les boxs nous installons ceux qui sont inaptes à vivre en communauté ou qui ont besoin d’un isolement temporaire. Les employés et le gardien exercent une surveillance permanente sur l’ensemble des animaux présents. Une éventuelle bagarre est immédiatement désamorcée , et le chien déplacé. Les chats sont répartis sur le même modèle de communautés avec de grands parcs clôturés autour d’une maison dortoir. Des locaux séparés accueillent les nouveaux venus, les juste vaccinés, les plus timides. Un grand confort est réservé à ces petits félins, toujours très douillets.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					D'où proviennent tous ces animaux ? Pourquoi sont-ils au refuge ? Comment arrrivent-ils jusqu'ici ?
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Notre Refuge signe des des contrats de fourrière avec plus de 300 communes du département. Chaque jour le camion circule pour amener au Bois Rulaud les chiens et les chats qui ont été trouvés en divagation. (60 000 km par an). C’est ainsi que en 2014 il a été dénombré 1943 animaux accueillis dans nos murs. Seuls 20% d’entre eux ont été repris par leurs propriétaires qui les avaient égarés. Les autres (80%) , non réclamés, sont considérés comme des animaux abandonnés. Et ceux là, après un séjour en fourrière d’une semaine, deviennent définitivement la propriété de notre S.P.A.</p>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Que deviennent les animaux ? Est-ce que vous les connaissez tous ? Seront-ils adoptés ? Sont-ils vieux ? Pratiquez-vous des euthanasies ?
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Le but que nous poursuivons, serait évidement de faire adopter tous les animaux que nous prenons en charge. Chacun a un nom, il fait l’objet d’un dossier très complet, nous le connaissons bien. Mais la balance entre les entrées et les sorties n’est pas facile à atteindre. Beaucoup resteront au Refuge longtemps, peut être toujours. Les plus vieux vivront dans les maisons des anciens, côté chiens ou côté chat parmi lesquels beaucoup sont parrainés... Des euthanasies sont pratiquées par nos vétérinaires dans les cas de pathologies irréversibles , ou lorsqu’un animal ne s’adapte pas à sa nouvelle vie et devient dangereux pour les employés. Le problème de l’euthanasie est beaucoup plus aigu chez les chats, car nous accueillons hélas énormément de chats sauvages qui ont été piégés. Ceux-là ne s’adapteront jamais à la vie en chatterie, étant nés dans la nature et loin des humains. Mais fort heureusement il y a au Bois Rulaud de nombreuses adoptions qui nous apportent toujours beaucoup de bonheur.</p>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Comment faites-vous pour tous les nourrir ? Et pour les soigner s'ils sont malades ?
				</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>La nourriture est très individualisée. Pour les chiens en communautés, ce sont de grandes cuissons préparées dans les cuisines à base d’aliments récupérés dans divers points de ramassage (cantines, restaurants) triés et complétés par du riz. Pour les chiens isolés, ce sont des « repas spéciaux » confectionnés selon le cas de chacun ( croquettes ou boîtes, viandes ou mélanges). Nos opérations caddies devant les grandes surfaces sont d’un apport considérable. Un grand tableau affiché en cuisine guide les employés pour la préparation de ces repas. 
						                    Cuisine des chiens :tri des aliments
						                    En chatterie, existe une cuisine spéciale, où l’on prépare les repas individuels pour chaque animal : Poissons, viandes, légumes, croquettes ou boîtes...
						                    Pour les soins, nos vétérinaires interviennent une fois par semaine : Ils vaccinent les nouveaux arrivés, ils déterminent leur âge, ils posent leur diagnostic en cas de problème, et prescrivent les soins. Les employés sont formés pour repérer un animal malade. Celui ci est immédiatement isolé dans les infirmeries côté chiens ou en chatterie. En cas d’urgence le chien ou le chat malade est conduit sans délai chez le vétérinaire.</p>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingFive">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					Combien de personnes travaillent au refuge ? Y a-t-il des bénévoles ?
				</button>
			</h2>
			<div id="collapseFive" class="accordion-collapse collapiens en communautés, ce sont de grandes cuissons préparées dans les cuisines à base d’aliments récupérés dans divers points de ramassage (cantines, restaurantsse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Le refuge est ouvert 7 jours sur 7, et gardienné toutes les nuits. Il n’y a pas de fermeture annuelle. Ceci explique le nombre élevé de salariés nécessaires à son fonctionnement ininterrompu. En effet, treize personnes travaillent au Bois Rulaud. Neuf employés sont à temps plein (35 Heures par semaine). Les autres travaillent soit 30 soir 26 heures par semaine. Certains ont une ancienneté de plus de 20 ans. Ce sont de véritables professionnels qui font un travail extrêmement difficile et varié : En effet, pour assurer la continuité des tâches, il faut savoir tout faire : manipuler un ordinateur lorsqu’on est au bureau, et pousser les lourdes brouettes quand on nettoie les parcs. Il faut savoir soigner un chien ou un chat malade, et aussi conduire le camion pour aller chercher un animal à 100 km.
						                    Les bénévoles sont nombreux et assidus au Refuge. Leur mission : apporter aux animaux ce que les employés n’ont pas toujours le temps de leur apporter. Chacun y trouve son chemin : promenades des chiens à l’extérieur, toilettage et bains, reprise en mains des cas difficiles, câlins et caresses pour les malheureux. En chatterie, nos bénévoles apportent leur talent pour fabriquer les petits repas, et leur énergie pour procéder à de grands nettoyages...</p>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingSix">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					Avez-vous des aides pour faire face à toutes vos dépenses ? La SPA de Paris vous apporte t-elle son soutien financier ?
				</button>
			</h2>
			<div id="collapseSix" class="accordion-collapse collapiens en communautés, ce sont de grandes cuissons préparées dans les cuisines à base d’aliments récupérés dans divers points de ramassage (cantines, restaurantsse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Nous sommes une Association indépendante, à nous de trouver les moyens d’exister. La gestion du Refuge s’approche de celle d’une PME et c’est un des rôles essentiels de la présidente  de faire en sorte que les recettes couvrent les dépenses. Outre les conventions de fourrière que nous avons avec les communes pour la prise en charge des animaux errants, nous avons une aide du Conseil Général non négligeable.
						                    Cependant toutes ces aides ne représentent que 25% de nos besoins. Les 75 % manquants, proviennent des cotisations et des aides de nos membres, des parrainages, des adoptions, des recettes de gardiennage et de dons divers. Les dépenses du Refuge ne sont pas compressibles ; d’autant plus que le poste salarial avec ses charges figure pour 80% du total de nos frais.
						                    La S.P.A. de Paris, qui se dit S.P.A. Nationale, n’a aucune relation avec notre Refuge, et ne lui apporte aucune aide, ni de près ni de loin. En revanche, par ses actions publicitaires et médiatiques très influentes, la S.P.A. de Paris entretient une ambiguïté calculée pour recueillir le maximum de fonds auprès des particuliers, qui sont souvent nos propres adhérents. En effet, un donateur à la S.P.A. de Paris imagine bien souvent que son aide sera redistribuée à tous les 300 refuges de province. Ce qui n’est pas le cas !</p>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingSeven">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
					Est-ce qu'il faut payer pour adopter un animal ? Et pour laisser mon chien ou mon chat à l'abandon chez vous ?
				</button>
			</h2>
			<div id="collapseSeven" class="accordion-collapse collapiens en communautés, ce sont de grandes cuissons préparées dans les cuisines à base d’aliments récupérés dans divers points de ramassage (cantines, restaurantsse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Oui, une adoption au Refuge est payante : les animaux confiés ont un coût . Ils ont souvent passé un long séjour au Bois Rulaud, ils ont été soignés, ils sont vaccinés et tatoués. Beaucoup d’employés se sont occupés d’eux, et ces employés ont perçu leur salaire. Par ailleurs, une adoption payante permet de donner une certaine valeur à un animal et entraînera une responsabilisation accrue de son propriétaire. Le coût étant variable en fonction de plusieurs critères, pour un chien( tatoué, vacciné) et pour un chat ( testé leucose, castré, tatoué et vacciné), il est préférable de nous téléphoner pour connaître le montant qui est très souvent inférieur aux frais réels occasionnés par les adoptés. Lorsque nous acceptons un abandon volontaire d’un chien ou d’un chat au Refuge, nous estimons que le propriétaire doit prendre en charge une partie des frais occasionnés par l’abandon de son animal. Néanmoins cette règle est appliquée avec une certaine souplesse dans les cas difficiles...</p>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
