.left-cat-text {
    margin: auto;
}

.all-cat {
    padding: 2rem;
    border: 2px solid orange;
    background: #ffa07a52;
    border-radius: 20px;
    
}

.message-animals-attention {
    border: 1px solid black;
    background-color: #b0e4ea;
}


