.dog-presentation-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
        padding: 1rem;
        border: 2px solid orange;
    }
}
.dog-page {
    width: 70%;
    margin: auto;
}

ul.infos {
    li {
        padding: 0.5rem;
    }
}

.for-respons {
    display: flex;
}

@media screen and(max-width:768px) {
    .for-respons {
        display: block;
    }
}

.all-dog {
        padding: 2rem;
        border: 2px solid orange;
        background: rgb(93 206 200 / 37%);
        border-radius: 20px;
}
