.long-trait-donate {
    width:90%;
    border:1px solid black;
    margin: auto; 
 }
.two-donations {
    font-family: sans-serif;
    font-size: 1.2rem;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    .first-block {
        background-color: #00ffe72e;
        border: 2px solid grey;
        border-radius: 35px;
        .highlight-text-donations {
            background: yellow;
            width: min-content;
            margin: auto;
        }
    }
    .second-block {
        background-color: #ff000030;
        border: 2px solid grey;
        border-radius: 35px;
    }



    .third-block {
        background-color: #fbff002e;
        border: 2px solid grey;
        border-radius: 35px;
        .highlight-text-donations {
            background: yellow;
            width: min-content;
            margin: auto;
        }
    }
    .fourth-block {
        background-color: #e4e7ffcc;
        border: 2px solid grey;
        border-radius: 35px;
    }
}

@media (max-width: 992px) {
    .two-donations {
        display: block;
    }
}

@media (max-width: 992px) {
    .first-block {
        margin: auto;
        width: 75%;
        margin-bottom: 4rem;
    }
}


@media (max-width: 992px) {
    .second-block {
        margin: auto;
        width: 75%;
    }
}

@media (max-width: 992px) {
    .third-block {
        margin: auto;
        width: 75%;
        margin-bottom: 4rem;
    }
}

@media (max-width: 992px) {
    .fourth-block {
        margin: auto;
        width: 75%;
        margin-bottom: 4rem;
    }
}


.ecuelle-du-coeur {
    img {
        clip-path: ellipse(45% 50%);
    }
}

.carte-vermeil {
    img {
        clip-path: ellipse(45% 50%);
    }
}

.frais-veterinaires {
    img {
        clip-path: ellipse(45% 50%);
        width: 70%;
    }
}

.frais-veterinaires-second {
    img {
        clip-path: ellipse(45% 50%);
        width: 70%;
    }
}

.travaux-refuge-first {
    img {
        clip-path: ellipse(45% 50%);
        width: 70%;
    }
}

.travaux-refuge-second {
    img {
        clip-path: ellipse(45% 50%);
        width: 70%;
    }
}