.intro-home {
    position: relative;
}
.title-on-picture {
    position: absolute;
    top: 14%;
    right: 9%;
    width: 48%;
}
@media screen and(max-width:992px) {
    .title-on-picture {
        position: absolute;
    top:9%;
    right: 9%;
    width: 48%;
    }
}
@media screen and(max-width:768px) {
    .title-on-picture {
        position: absolute;
    top: 6%;
    right: 9%;
    width: 48%;
    }
}
@media screen and(max-width:576px) {
    .title-on-picture {
        position: absolute;
    top: 2%;
    right: 9%;
    width: 48%;
    }
}

.container-fluid {
    .come-discover {
        border: 3px outset;
        width: 75%;
        margin: auto; 
        background-color: rgb(243 192 115 / 23%);
        h2 {
            margin-bottom: 1rem;
        }
        p {
            font-weight: 600;
        }
    }
    .select-categories {
        padding: 0.4rem;
        border: 2px inset;
        max-width: 70%;
        margin: auto;
    }
}


h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px black;
}

@media screen and(max-width:992px) {
h1 {
        font-size: 2.5rem;
    }
}
@media screen and(max-width:768px) {
    h1 {
            font-size: 2rem;
        }
    }
        @media screen and(max-width:576px) {
            h1 {
                    font-size: 1.2rem;
                }
            }
.histoire-du-refuge {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
@media screen and(max-width:576px) {
    .histoire-du-refuge {
        display: block;
    }
}

.img-refuge-first {
    margin-bottom: 2rem;
}


.div-three-picture {
    display: flex;
    .circle-picture-home {
        clip-path: ellipse(45% 50%);
        width: 65%;
        height: 100%;
        opacity: 0.8;
        transition: transform 1.5s;
    }
    .circle-picture-home:hover {
        transform: scale(1.2);
        opacity: 1;
    
    }
}
@media screen and(max-width:576px) {
    .div-three-picture {
        display: block;
    }
}

@media screen and(max-width:576px) {
    .circle-picture-home {
        display: block;
        margin: auto;
    }
}


    .title-link {
        background-color: rgb(253, 230, 200);
        border: 2px solid black;
        border-radius: 1rem;
        width: 80%;
        margin: auto;
        text-align: center;
        h3 {
            color: black;
        }
        h3:hover {
            color: rgb(62, 62, 241);
        }
    }



#articles-home {
    border: 1px solid;
    border-radius: 10px 10px 0 0;
    margin-bottom: 3rem;
    background-color: #b3b3b34d;
    .col-sm-6 {
        p {
            font-weight: 600;
            font-size: 16px;
        }
        #column-one-first {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color:  rgb(184 250 255 / 41%);
        }
        #column-one-second {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color: rgb(246 255 32 / 21%);
        }
        #column-one-third {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color: rgb(182 255 196 / 31%);
        }
        #column-one-fourth {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color: rgb(241 62 0 / 11%);
        }
        #column-one-fifth {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color: rgb(248 251 168 / 44%);
        }
        #column-one-sixth {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color: rgb(246 255 32 / 15%);
        }
        #column-one-seventh {
            padding: 1rem;
            border: 3px outset;
            border-radius: 10px 0 0 0;
            margin-bottom: 1rem;
            background-color: rgb(241 62 0 / 12%);
        }

        #column-two-first {
            padding: 1rem;
            border: 3px outset;
            border-radius: 0 10px 0 0;
            margin-bottom: 1rem;
            background-color: rgb(255 148 0 / 17%);
        }

        #column-two-second {
            padding: 1rem;
            border: 3px outset;
            border-radius: 0 10px 0 0;
            margin-bottom: 1rem;
            background-color: rgb(25 255 16 / 13%);
        }

        #column-two-third {
            padding: 1rem;
            border: 3px outset;
            border-radius: 0 10px 0 0;
            margin-bottom: 1rem;
            background-color: rgb(0 238 255 / 18%);
        }

        #column-two-fourth {
            padding: 1rem;
            border: 3px outset;
            border-radius: 0 10px 0 0;
            margin-bottom: 1rem;
            background-color: rgb(164 0 255 / 6%);
        }
    }
}

.trait-home-don {
    width:80%;
    border:1px solid black;
    margin: auto;
}
