.intro-home {
    position: relative;
}
.title-on-picture {
    position: absolute;
    top: 14%;
    right: 9%;
    width: 48%;
}
@media screen and(max-width:992px) {
    .title-on-picture {
        position: absolute;
    top:9%;
    right: 9%;
    width: 48%;
    }
}
@media screen and(max-width:768px) {
    .title-on-picture {
        position: absolute;
    top: 6%;
    right: 9%;
    width: 48%;
    }
}
@media screen and(max-width:576px) {
    .title-on-picture {
        position: absolute;
    top: 2%;
    right: 9%;
    width: 48%;
    }
}


h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px black;
}

@media screen and(max-width:992px) {
h1 {
        font-size: 2.5rem;
    }
}
@media screen and(max-width:768px) {
    h1 {
            font-size: 2rem;
        }
    }
        @media screen and(max-width:576px) {
            h1 {
                    font-size: 1.2rem;
                }
            }
.histoire-du-refuge {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}
@media screen and(max-width:576px) {
    .histoire-du-refuge {
        display: block;
    }
}

.img-refuge-first {
    margin-bottom: 2rem;
}


.div-three-picture {
    display: flex;
}
@media screen and(max-width:576px) {
    .div-three-picture {
        display: block;
    }
}
.circle-picture-home {
    clip-path: ellipse(45% 50%);
    width: 75%;
    height: 100%;
    opacity: 0.8;
}
.circle-picture-home:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 1.5s;
}
@media screen and(max-width:576px) {
    .circle-picture-home {
        display: block;
        margin: auto;
    }
}

@media screen and(max-width:576px){
.localization {
    width: 75%;
    margin: auto;
}
}

