.navbar.navbar-expand-lg.navbar-light {
    background: #ffc13fc7;
}
.logo-site-web {
    min-width: 40%;
    .logo-spa-saintes {
        width: 70%;
    }
}

.nav-dropdown-account {
    justify-content: space-around;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: orangered;
}

@media screen and(max-width:567px) {
    .btn.btn-secondary.dropdown-toggle {
        
        font-size: 0.7rem;
    }
}
