.navbar.navbar-expand-lg.navbar-light {
    background: #ffc13fc7;
}
.logo-site-web {
    min-width: 40%;
    .logo-spa-saintes {
        width: 60%;
    }
}

.nav-dropdown-account {
    width: 20%;
    justify-content: space-around;
}