.first-opinion {
    background-color:rgb(239 255 1 / 28%);
    padding: 1%;
    margin-bottom: 3rem;
    border-radius: 10px 30px 30px 30px;
    border: 1px solid #babd02;

    p {
        padding: 0.5rem;
    }
    .col-sm-4{
        margin: auto;
        text-align: center;
        padding: 1rem;
    }
    .col-sm-8{
        align-self: center;
    }
}

.second-opinion {
    background-color: rgb(253 163 0 / 44%);
    padding: 1%;
    margin-bottom: 3rem;
    border-radius: 10px 30px 30px 30px;
    border: 1px solid #bd8b00;

    p {
        padding: 0.5rem;
    }
    .col-sm-4{
        margin: auto;
        text-align: center;
        padding: 1rem;
    }
    .col-sm-8{
        align-self: center;
    }
}

.third-opinion {
    background-color: rgb(0 0 0 / 12%);
    padding: 1%;
    margin-bottom: 3rem;
    border-radius: 10px 30px 30px 30px;
    border: 1px solid #898989;

    p {
        padding: 0.5rem;
    }
    .col-sm-4{
        margin: auto;
        text-align: center;
        padding: 1rem;
    }
    .col-sm-8{
        align-self: center;
    }
}

.fourth-opinion {
    background-color:rgb(191 223 241);
    padding: 1%;
    margin-bottom: 3rem;
    border-radius: 10px 30px 30px 30px;
    border: 1px solid blue;

    p {
        padding: 0.5rem;
    }
    .col-sm-4{
        margin: auto;
        text-align: center;
        padding: 1rem;
    }
    .col-sm-8{
        align-self: center;
    }
}