
input#registration_form_email {
    padding-left: 10px;
    width: 80%;
}
@media screen and(max-width:576px) {
    input#registration_form_email {
        width: 100%;
    }
}

input#registration_form_plainPassword {
    width: 40%;
}
@media screen and(max-width:576px) {
    input#registration_form_plainPassword {
        width: 90%;
    }
}

