{% extends 'base.html.twig' %}
{% block body %}
<div class="form-donate">
<iframe src="{{ asset('build/images/formulaire-adhesion.png') }}" id="frame" alt=""></iframe>
<button onclick="print()">Imprimer le PDF</button>
</div>
{% endblock %}

