<style>
	.message-email-register {
		text-align: center;
		border: 2px solid #fbcf9ba6;
		padding: 1rem;
		width: 60%;
        margin: auto;
	}
	.image-email-register {
		text-align: center;
        padding: 2rem;
		width: 60%;
		margin:auto;
	}
</style>
<div class="image-email-register">
	<img style="text-align: center; width:100%;" src="{{ email.image('@images/logo_small.png') }}" alt="Logo Spa de Saintes">
</div>
<div class="message-email-register">
	<h3>Création d'un compte sur notre Site</h3><br>
	<p>Suite à la création de votre compte sur notre site, nous tenons à vous informer que notre politique
	 de confidentialité est disponible sur le site. Nos partenaires développeurs s'assurent de la sécurité
	 de vos informations, et s'occupent des différents problèmes techniques que vous rencontrerez lors de
	 l'utilisation du site.
	</p>
	<br>
	<p>Nous vous souhaitons la bienvenue chez les membres du refuge !</p>
	<p>Présidente de l'association : Yva Moyon</p>
    <br>
    <p>PS: En cas d'absences, vous pouvez contacter le domaine par téléphone ou par mail:</p>
    <p>Numéro de téléphone fixe: <a href="tel:+33546934765"> 05 46 93 47 65</a></p>
    <p>Adresse Mail: <a href="mailto:spa.de.saintes@hotmail.com">spa.de.saintes@hotmail.com</a></p>
</div>
<br></div>
