<footer style="background-color: #deded5;">
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-6 col-md-12 mb-4">
				<h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">LA LETTRE
					DE LA PRÉSIDENTE
				</h5>
				<p>Comme chaque année à la même époque, je viens de remettre à notre imprimeur les textes qui vont composer le bulletin de la SPA de Saintes 2021.
					Et puis est survenu l'accident.
				Cependant, aucun lien ne pourra être détruit entre notre refuge et tous ceux qui l'ont soutenu.
					Plus que jamais votre aide nous est indispensable pour continuer à soutenir, comme je l'ai toujours fait avec vous, les animaux en souffrance.
					Merci pour moi ! Merci pour eux !</p><br>
				<p>Yva Moyon</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Blog</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1">
						<a href="#!" style="color: #4f4f4f;">Contact</a>
					</li>
					<li class="mb-1">
						<a href="#!" style="color: #4f4f4f;">Charte</a>
					</li>
					<li class="mb-1">
						<a href="#!" style="color: #4f4f4f;">Site officiel</a>
					</li>
					<li>
						<a href="#!" style="color: #4f4f4f;">loi du 12/07/2020</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">opening hours</h5>
				<table class="table" style="color: #4f4f4f; border-color: #666;">
					<tbody>
						<tr>
							<td>Lun - Ven :</td>
							<td>8h - 12h | 14h30 - 17h</td>
						</tr>
						<tr>
							<td>Sam - Dim :</td>
							<td>10h - 12h | 13h30 - 16h</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2020 Copyright:
		<a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
</footer>

<!-- End of .container -->
