  
<div class="card text-center">
  <div class="card-header">
    Soutenez-nous
  </div>
  <img src="" alt="">
  <div class="col-sm3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab inventore, accusamus vero perspiciatis quis incidunt, amet in officia aut praesentium odit fugiat, atque repellat iste culpa? Molestias neque earum iusto.</div>
  <div class="col-sm3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veritatis velit totam sequi et dolor, consequuntur aut. Necessitatibus ratione nesciunt excepturi provident pariatur dolores omnis quidem, dolorum deleniti vel fuga?</div>
  <div class="col-sm3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nulla totam quasi repellat fugit culpa a, itaque numquam deserunt fuga? Deleniti ipsum quam veniam, ratione a possimus soluta qui dolor.</div>
</div> 
{# <footer class="page-footer font-small blue-grey lighten-5">

      <div class="row mt-3 dark-grey-text">
        <div class="col-3">
          <div class="logo1">
              <img class="open-degust-footer" src="{{ asset('build/images/logo-footer-2.png') }}">
          </div>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>suivez-nous</p>
          <ul class="list-unstyled list-inline text-left">
            <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-1" target="_blank" href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-tw mx-1" target="_blank" href="https://www.instagram.com/">
                <i class="fab fa-instagram"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-gplus mx-1" target="_blank" href="https://twitter.com/">
                <i class="fab fa-twitter"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-li mx-1" target="_blank" href="https://www.linkedin.com/">
                <i class="fab fa-linkedin-in"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-dribbble mx-1" target="_blank" href="https://www.pinterest.fr/">
      <i class="fab fa-pinterest-p"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h6 class="text-uppercase font-weight-bold">Open Degust</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">A PROPOS DE NOUS</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">UNE START-UP SOLIDAIRE</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">VOUS ETES PROFESSIONNEL ?</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">DECOUVREZ NOS PARTENAIRES</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">BLOG</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">CONTACT</a>
          </p>
        </div>

        <div class="col-3">
          <h6 class="text-uppercase font-weight-bold">Services</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">CONDITIONS D'UTILISATION</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">FAQ</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">RGPD</a>
          </p>
          <p style="margin-bottom:0.5rem">
            <a class="dark-grey-text" href="#!" style="text-decoration:none">PLAN DU SITE</a>
          </p>
        </div>
      </div>
    </div>

    <div class="trait-footer text-center">
    <p>@copyright by Spa</p>
    </div>


  </footer> #}
