<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<div class="logo-site-web" >
			<a href="{{ path("home") }}">
			<img class="logo-spa-saintes"  src="{{ asset('build/images/logo_small.png') }}" alt=""></a>
		</div>
		<div class="nav-dropdown-account d-flex">
			<div class="dropdown mr-4">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Nos Animaux
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li>
						<a class="dropdown-item" href="{{ path("dog") }}">Chiens</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path("cat") }}">Chats</a>
					</li>
					<li>
						<a class="dropdown-item" href="/other/index.html.twig">Autres</a>
					</li>
				</ul>
		</div>
	</div>
</nav>