{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat rem soluta reiciendis, reprehenderit error ab nulla. Cupiditate, amet accusantium illo quasi quidem adipisci ab corrupti voluptatibus eum iusto, sequi tenetur.</p>
{% endblock %}
